{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <a href="{{ .RelPermalink }}" style="text-align: left;"><b>{{ .Title | markdownify }}</b></a>
    <span class="date" style="float: right;">{{ .Date.Format "January 2, 2006" }}</span>
    <p style="color: #595959;"><em>{{ .Description | markdownify }}</em></p>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
